@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){/* TABLET */

    header.cabecalho > h1 {
        font-size: 3em;
    }

    div#alinhamento__horizontal {
        flex-direction: row;
        justify-content: center;

    }

    div.container__horizontal {
        margin-left: 20px;
    }

}

@media screen and (min-width: 992px) and (max-width: 1200px) { /* DESKTOP */

    /* CABEÇALHO */
    header.cabecalho > h1 {
        font-size: 4em;
    }

    nav.menu__nav > a {
        font-size: 1.5em;
    }


    /*CORPO DO SITE*/

    main {
        width: 500px;
    }

    /*RODAPÉ*/
    div#alinhamento__horizontal {
        flex-direction: row;
        justify-content: center;

    }

    div.container__horizontal {
        margin-left: 20px;
    }


}

@media screen and (min-width: 1200px) { /* TELAS GRANDES */

    /*CABEÇALHO*/
    header.cabecalho > h1 {
        font-size: 4em;
    }

    nav.menu__nav > a {
        font-size: 1.5em;
    }


    /*CORPO DO SITE*/

    main {
        width: 850px;
    }


    /*RODAPÉ*/

    div#alinhamento__horizontal {
        flex-direction: row;
        justify-content: center;

    }

    div.container__horizontal {
        margin-left: 60px;
    }

    div.atalhos__footer > h2 {
        font-size: 3em;
    }

    div.atalhos__links{
        margin-bottom: 5px;

    }
   

}