@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* ÁREA DE ANIMAÇÕES */

@keyframes aparece {
    from {
        opacity: 0;
        translate: -100vw 0;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes backgroundAnimado {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

/* FIM DA ÁREA DE ANIMAÇÕES */

:root {
    --cor1: #00010D;
    --cor2: #3E588C;
    --cor3: #4D3FA6;
    --cor4: #252273;
    --cor5: #0E0D40;

    --fonte-titulos: "Space Grotesk", sans-serif;
    --fonte-conteudo: "Josefin Sans", sans-serif;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #8e7ef3;
}

::-webkit-scrollbar-thumb{
    background-color: var(--cor3);
    border-radius: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor1);
    color: white;
}

header.cabecalho {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor3) 90%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

div.cont_h1_apresentacao {
    width: 400px;
    text-align: center;
}

div.cont_h1_apresentacao > h1 {
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.336);
    padding: 12px;
    font-size: 2.5em;
    animation: aparece ease-in-out 0.7s;
}

div.conteudo_apresentacao {
    width: 400px;
    text-align: center;
}

div.conteudo_apresentacao > p {
    text-shadow: 0.5px 0.5px 0px black;
    font-size: 0.9em;
    padding: 5px;
    animation: aparece ease-in-out 1s;
}

div.divisao {
    background-color: var(--cor4);
    text-align: center;
    padding-block: 7px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.divisao > h2 {
    width: 100%;
    font-family: var(--fonte-titulos);
    font-weight: bold;
    font-size: 2.1em;
    text-shadow: 0.5px 0.5px 0px black;
    padding: 12px;
    background-color: var(--cor3);
    background-image: linear-gradient(to left, var(--cor4), transparent 70%);
    border-radius: 5px;
}

section.sessao-tarefas {
    background-color: var(--cor5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 15px;
}

div.lista-tarefas {
    background-color: white;
    width: 95%;
    padding: 15px;
    border: 1.5px solid var(--cor3);
    border-radius: 30px;
}

div.armazena_texto {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;

    margin-bottom: 20px;
}

div.armazena_texto > p {
    font-family: var(--fonte-conteudo);
    font-weight: 600;
    font-size: 1.1em;
    color: var(--cor1);
    border-bottom: 1px solid var(--cor1);
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

div.cont_tarefas {
    background-image: linear-gradient(45deg, var(--cor4), var(--cor1));
    border-radius: 20px;
    border: 2.4px solid crimson;
    position: absolute;
    display: none;

    padding: 15px;
    width: 87%;
    bottom: -30%;
    left: 50%;

    transform: translate(-50%, -50%);
}

div.cont_tits {
    display: block;
    text-align: center;
}

div.cont_tits > h2 {
    font-size: 2em;
    font-family: var(--fonte-titulos);
}

form.formulario {
    padding: 10px;
    margin-top: 10px;
}

div.cont_lab_inp {
    padding: 7px;
    margin-bottom: 7px;
    display: flex;
    flex-direction: column;
}

div.cont_lab_inp > label {
    font-family: var(--fonte-conteudo);
    font-size: 1.2em;
    
    padding: 7px;
    margin-bottom: 5px;
}

div.cont_lab_inp > input {
    font-size: 1.1em;
    font-family: var(--fonte-conteudo);
    color: var(--cor4);
    font-weight: 600;
    border-radius: 7px;
    border: none;

    padding: 5px;
    height: 40px;
    margin-bottom: 10px;
}

div.cont_lab_inp > input:focus {
    outline: 3px solid var(--cor3);
}

div.btnForms {
    text-align: center;
}

div.btnForms > button {
    cursor: pointer;
    color: white;
    font-family: var(--fonte-conteudo);
    font-size: 1.3em;
    border: 2px solid #8e7ef3;
    border-radius: 10px;
    background-color: var(--cor3);


    padding: 7px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.521);
    transition: 0.5s ease-in-out;
}

div.btnForms > button:hover {
    background-color: var(--cor4);
    transform: translateY(-4px);
    box-shadow: 2.5px 2.5px 2px rgba(0, 0, 0, 0.521);
}

button#finalizar {
    
    margin-right: 12px;

}

button#cancelar {
    margin-left: 12px;
}

div.janelaEditarTarefa{  
    background-image: linear-gradient(45deg, var(--cor5), var(--cor5), var(--cor3), var(--cor2), var(--cor4), var(--cor1));
    background-size: 300% 300%;
    animation: backgroundAnimado 17s ease-in-out infinite;
    border-radius: 20px;
    position: absolute;
    display: none;

    padding: 15px;
    width: 87%;
    bottom: -30%;
    left: 50%;

    transform: translate(-50%, -50%);
}

div.mostrandoTarefa {
    margin: 15px 0px;
    text-align: center;
}

div.mostrandoTarefa > p {
    font-family: var(--fonte-conteudo);
    font-size: 1.3em;
}

button.espacoBtn1 {
    margin-right: 12px;
}

button.espacoBtn2 {
    margin-left: 12px;
}

div.botao {
    background-color: var(--cor5);
    padding-block: 10px;
    text-align: center;
}

div.botao > button {
    font-family: var(--fonte-conteudo);
    cursor: pointer;
    padding: 7px;
    font-size: 1.5em;
    background-color: var(--cor3);
    color: white;
    border: 2px solid #8e7ef3;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.521);
    transition: 0.5s ease-in-out;
}

div.botao > button:hover{
    background-color: var(--cor4);
    transform: translateY(-4px);
    box-shadow: 2.5px 2.5px 3px rgba(0, 0, 0, 0.521);
}

/* ESTILOS PARA TAGS POSTAS NO JS */

span.material-symbols-outlined {
    cursor: pointer;
    color: var(--cor3);
    margin-right: 7px;
    margin-left: 7px;
    display: inline-block;
}

span.material-symbols-outlined:last-child {
    margin-right: 0px;
    margin-left: 0px;
}
